body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    min-width: 2000px;
    position: relative;
    overflow: hidden;
    background: url('../imgs/bg.jpg') no-repeat center top;
    height: 958px;
}

.logo {
    position: absolute;
    left: 0;
    top: 20px;
}

.main{
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: 1380px;
    height: 958px;
}

.slogan {
    position: absolute;
    width: 804px;
    height: 538px;
    top: 190px;
    right: -40px;
    background: url('../imgs/slogan.png') no-repeat;
}

.slogan img {
    margin-top: 90px;
    margin-left: 360px;
}

.fadein {
    -webkit-animation: fadein 5s cubic-bezier(.43, .17, .59, .17);
    animation: fadein 5s cubic-bezier(.43, .17, .59, .17)
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.bounce {
    animation: bounceInLeft 0.7s 0.45s linear forwards;
}

@keyframes bounceInLeft  {
    from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0);}
    75% {transform: translate3d(-10px, 0, 0);}
    90% {transform: translate3d(5px, 0, 0);}
    100% {opacity: 1;transform: none;}
}

@-webkit-keyframes bounceInLeft  {
    from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0);}
    75% {transform: translate3d(-10px, 0, 0);}
    90% {transform: translate3d(5px, 0, 0);}
    100% {opacity: 1;transform: none;}
}

.illuminate {
    animation: ray 0.7s ease 0.1s infinite alternate running backwards;
}

@keyframes ray {
    0% {opacity: 1; width: 180px; height: 180px;}
    50% {opacity: 0.75; width: 150px; height: 150px;}
    100% {opacity: 0.5; width: 140px; height: 140px;}
}

@-webkit-keyframes ray {
    0% {opacity: 1; width: 180px; height: 180px;}
    50% {opacity: 0.75; width: 150px; height: 150px;}
    100% {opacity: 0.5; width: 140px; height: 140px;}
}

.btn-player {
    position: absolute;
    cursor: pointer;
    top: 252px;
    left: 21%;
    width: 170px;
    height: 170px;
    background: url('../imgs/play.png') no-repeat;
    transition: .6s transform ease;
    -moz-transition: .6s transform ease;
    -webkit-transition: .6s transform ease;
}

.btn-player:hover {
    transform: scale3d(.97, .97, .97);
    -moz-transform: scale3d(.97, .97, .97);
    -webkit-transform: scale3d(.97, .97, .97)
}

.footer {
    min-width: 2000px;;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    height: 142px;
    background: #333333;
}

.footer-main {
    margin: 0 auto;
    font-size: 12px;
    color: #a9a9a9;
}

.footer-main>p {
    display: inline-block;
    margin-left: 20px;
}

.footer-main>p>span {
    margin-left: 10px;
    color: #e8e8e8;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    /* opacity: .7; */
}

.modal-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 800px;
    display: none;
}

.mv-wrap,
.mv-wrap video {
    width: 100%;
}

.modal-video .modal-close {
    margin-right: -9px;
}

.modal-close {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 66px;
    height: 66px;
    background: url('../imgs/pop_close.png') 20px 16px no-repeat;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.modal-close:hover {
    opacity: .8;
    transform: scale3d(1.02, 1.02, 1.02);
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
}

