html,body {overflow:visible;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
button,input{font-family:"微软雅黑","Regular Arial Narrow";}
body{font:14px "微软雅黑","Regular Arial Narrow";background:#fff;-webkit-text-size-adjust:100%}
a{text-decoration:none}
a:hover{text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0;}
p{word-wrap:break-word}
.hide{ display:none;}
input,button{outline:0px;}