html,body,ul,li,audio,p,audio{
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none
}
a {
    text-decoration: none;
    border: none;
    cursor: pointer
}
audio {
    visibility: hidden;
    width: 0;
    height: 0
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 13.34rem;
    background: url('../imgs/bg_m.jpg?v=201812131705') no-repeat;
    background-size: 100%;
}
.btn-mute {
    position: absolute;
    right: 0.35rem;
    top: 0.28rem;
    width: 0.63rem;
    height: 0.62rem;
    background: url('../imgs/sound_on_m.png?v=201812131705') no-repeat;
    background-size: 100%;
}
.btn-mute.active {
    background: url('../imgs/sound_off_m.png?v=201812131705') no-repeat;
    background-size: 100%;
}
.top-slogan {
    position: absolute;
    width: 4.69rem;
    height: 2.17rem;
    top: 0;
    left: 50%;
    margin-left: -2.345rem;
}
.top-slogan img {
    width: 100%;
    height: 100%;
}
.fadein {
    -webkit-animation: fadein 2s cubic-bezier(.43, .17, .59, .17);
    animation: fadein 2s cubic-bezier(.43, .17, .59, .17)
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.yuyue {
    position: absolute;
    top: 10.08rem;
    left: 50%;
    width: 4.09rem;
    height: 1.25rem;
    margin-left: -2.045rem;
}
.yuyue img {
    width: 100%;
    height: 100%;
}
.dd {
    animation: shake 1s linear 0.1s infinite alternate;
    -webkit-animation: shake 1s linear 0.1s infinite alternate;
}
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}
@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(0);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0);
    }
}
.award {
    margin-top: 11.73rem;
    margin-left: auto;
    margin-right: auto;
    width: 3.94rem;
    height: 1.26rem;
}
.award img {
    width: 100%;
    height: 100%;
}
.bottom-link {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 1.92rem;
    background-color: black;
}
.bottom-link .tap {
    float: left;
    margin-top: 0.46rem;
    margin-left: 0.54rem;
    width: 2.98rem;
    height: 1.02rem;
}
.bottom-link .facebook {
    float: right;
    margin-right: 0.54rem;
    margin-top: 0.46rem;
    width: 3rem;
    height: 1.02rem;
}
.bottom-link img {
    width: 100%;
    height: 100%;
}
/* footer */
.footer {
    padding-top: 0.3rem;
    padding-bottom: .1rem;
    border-top: 1px solid #242424;
    width: 100%;
    overflow: hidden;
    background: black;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer_logo_1 {
    width: 1.14rem;
    height: 1.35rem;
    background: url('../imgs/lilith_icon.png?v=201812131705') no-repeat;
    background-size: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.footer_text {
    text-indent: .3rem;
    font-size: 0.12rem;
    color: #bdb9b9;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.footer-ti{
    margin-left: -0.1rem;
}
.footer_cont {
    overflow: hidden;
    margin: 0 auto;
}
.footer a {
    color: #bdb9b9;
    ;
}
.icon-wen {
    position: relative;
    top: -.02rem;
    width: 0.4rem;
    vertical-align: middle
}
audio {
    visibility: hidden;
    width: 0;
    height: 0
}