html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
ul,
li,
audio,
video {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent
}

ol,
ul,
li {
    list-style: none
}

a {
    text-decoration: none;
    border: none;
    cursor: pointer
}

img {
    vertical-align: top;
    border: none
}

video {
    display: block;
    height: 100%
}

audio {
    visibility: hidden;
    width: 0;
    height: 0
}

.container {
    position: relative;
    overflow: hidden;
    height: 17rem;
    background: url('../imgs/bg_m.png') no-repeat;
    background-size: 100%;
}

.logo {
    position: absolute;
    top: 0;
    width: 7.5rem;
    left: 50%;
    margin-left: -3.75rem;
}

.btn-player {
    position: absolute;
    top: 5.7rem;
    z-index: 5;
    left: 50%;
    margin-left: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
    background: url('../imgs/play_m.png') no-repeat;
    background-size: 100%;
}

.illuminate {
    animation: ray 0.7s ease 0.1s infinite alternate running backwards;
}

@keyframes ray {
    0% {opacity: 1;}
    50% {opacity: 0.75; width: 1.8rem; height: 1.8rem; top: 5.68rem; margin-left: 0.2rem}
    100% {opacity: 0.5; width: 1.9rem; height: 1.9rem; top: 5.6rem; margin-left: 0.12rem}
}

@-webkit-keyframes ray {
    0% {opacity: 1;}
    50% {opacity: 0.75; width: 1.8rem; height: 1.8rem; top: 5.68rem; margin-left: 0.2rem}
    100% {opacity: 0.5; width: 1.9rem; height: 1.9rem; top: 5.6rem; margin-left: 0.12rem}
}

.slogan {
    position: absolute;
    top: 13.9rem;
    width: 7.5rem;
    left: 50%;
    margin-left: -3.75rem;
}

/* footer */
.footer{
    overflow: hidden;
    height: 3.5rem;
    background: #333333;
    text-align: center;
}
.footer-logo{
    margin-top: 0.58rem;
    width: 2.16rem;
}
.footer .p1{
    margin-top: 0.1rem;
    font-size: .24rem;
    color: #a9a9a9;
    text-align: center;
}

.footer .p2{
    margin-top: 0.1rem;
    font-size: .24rem;
    color: #e8e8e8;
    text-align: center;
}

.player-dark-bg {
    position: fixed;
    background-color: #000;
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0
}

.player-wrap {
    opacity: 0;
    display: none;
    position: fixed;
    width: 960px;
    height: 540px;
    padding: 5px;
    background: #000;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    z-index: 10003
}

.player-wrap .player-container {
    width: 960px;
    height: 540px
}

.player-wrap .player-container video {
    width: 100%;
    height: 100%
}

.player-wrap-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 99999;
    display: none
}

.player-wrap-mobile .player-container-mobile {
    position: absolute;
    width: 100%;
    height: 100%
}

.player-wrap-mobile .player-container-mobile .video-js {
    background-color: transparent!important
}

.player-wrap-mobile .player-container-mobile video {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.player-wrap-mobile .close-player {
    position: absolute;
    width: .4rem;
    height: .4rem;
    right: .1rem;
    top: 25%;
    cursor: pointer;
    background-image: url('../imgs/close-video.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}