.footer
    .footer_logo_1
    .footer_text        
        p 上海莉莉丝网络科技有限公司
        p
            span 增值电信业务经营许可证：沪B2-20160037  
        p 客服电话：028-65231886
        p 嘉定区（县）陈翔路88号7幢2楼A区2166室
        p 沪ICP备15032795号-4
        p.footer-ti
            a(href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/4028c08b50137eac0150651bc7fa7a9c",target="_blank")
                img.icon-wen(src="/assets/cn/m/imgs/net_authentication.png?v=201812131705", alt="")
                |   沪网文[2015]0707-157号           
           
                 
