.footer
    .footer_logo_1
    .footer_text        
        p 上海莉莉丝网络科技有限公司 
        p 
            span 
            a(href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/4028c08b50137eac0150651bc7fa7a9c",target="_blank")
                img.icon-wen(src="/assets/cn/pc/imgs/net_authentication.png?v=201812131705", alt="")
                | 沪网文 [2015]0707-157号 &nbsp;
                span |&nbsp;沪ICP备15032795号-4
        p
            span 增值电信业务经营许可证：沪B2-20160037  
            span | 客服电话：028-65231886 
        p 嘉定区（县）陈翔路88号7幢2楼A区2166室
        p
            span 本公司游戏产品适合18岁以上成年人使用
            a.footer-color1(href="http://www.lilithgames.com/cn/parents.html",target="_blank") 家长监护
            a(href="https://lilithimage.lilithcdn.com/common/self-discipline.pdf", target="_blank") 自律公约