html,body,ul,li,audio,p,video,audio,img{
    margin: 0;
    padding: 0;
}
img{
    border:0;
    vertical-align:middle
}
ul,li {
    list-style: none
}
a {
    text-decoration: none;
    border: none;
    cursor: pointer
}
audio {
    visibility: hidden;
    width: 0;
    height: 0
}
body {
    background: #000000;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    background: url('../imgs/bg.jpg?v=201812131705') no-repeat center top;
}
.start-container {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: url('../imgs/bg.jpg?v=201812131705') no-repeat center top;
}
#start-video{
    position: absolute;
    width: 1920px;
    top: 0;
    left: 50%;
    margin-left: -960px;
} 
.main-container {
    display: none;
}
.section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 960px;
    background: url('../imgs/bg.jpg?v=201812131705') no-repeat center top;
}
.bg-video{
    position: absolute;
    width: 1920px;
    left: 50%;
    top: 0;
    margin-left: -960px;
    background: url('../imgs/bg.jpg?v=201812131705') no-repeat center top;
}
.main-container .jump-list ul{
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: 414px;
    width: 277px;
    height: 67px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main-container .jump-list ul>li{
    height: 67px;
    width: 67px;
}
.main-container .jump-list ul>li>a{
    height: 100%;
    width: 100%;
    display: inline-block;
}
.btn-mute {
    background: url('../imgs/sound_on.png?v=201812131705') no-repeat center center;
}
.active {
    background: url('../imgs/sound_off.png?v=201812131705') no-repeat center center;
}
.main-container .yuyue {
    position: absolute;
    top: 668px;
    left: 50%;
    margin-left: -186px;
    width: 372px;
    height: 115px;
}
.main-container .yuyue img {
    width: 100%;
    height: 100%;
}
.dd {
    animation: shake 1s linear 0.1s infinite alternate;
    -webkit-animation: shake 1s linear 0.1s infinite alternate;
    -moz-animation: shake 1s linear 0.1s infinite alternate;
    -o-animation: shake 1s linear 0.1s infinite alternate;
}
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}
@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(0);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0);
    }
}
@-moz-keyframes shake {
    0% {
        -moz-transform: rotate(0);
    }
    25% {
        -moz-transform: rotate(10deg);
    }
    50% {
        -moz-transform: rotate(0);
    }
    75% {
        -moz-transform: rotate(-10deg);
    }
    100% {
        -moz-transform: rotate(0);
    }
}
@-o-keyframes shake {
    0% {
        -o-transform: rotate(0);
    }
    25% {
        -o-transform: rotate(10deg);
    }
    50% {
        -o-transform: rotate(0);
    }
    75% {
        -o-transform: rotate(-10deg);
    }
    100% {
        -o-transform: rotate(0);
    }
}
.main-container .award {
    position: absolute;
    top: 815px;
    left: 50%;
    margin-left: -185.5px;
    width: 371px;
    height: 119px;
    background: url('../imgs/award.png?v=201812131705') no-repeat center center; 
}
/* footer */
.footer {
    width: 100%;
    height: 220px;
    background: #000000;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer_logo_1 {
    width: 114px;
    height: 135px;
    background: url('../imgs/lilith_icon.png?v=201812131705') no-repeat center center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.footer_text {
    margin-left: 40px;
    font-size: 14px;
    color: #bdb9b9;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.footer a {
    color: #bdb9b9;
}
.footer .footer-color1 {
    margin-left: 6px;
    margin-right: 20px;
    color: #ff3e2b;
}

.footer-color1+a {
    color: #ff3e2b
}
audio {
    visibility: hidden;
    width: 0;
    height: 0
}
/* loading */
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
}
.spinner {
    margin: 400px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
  }
   
  .spinner > div {
    background-color: #ff3e2b;
    height: 100%;
    width: 6px;
    display: inline-block;
     
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
   
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
   
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
   
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
   
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
   
  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
    20% { -webkit-transform: scaleY(1.0) }
  }
   
  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }