doctype html
html
    head
        meta(charset='utf-8')
        title 《怪物之家》官方网站
        meta(name="keywords", content="莉莉丝,莉莉丝游戏,怪物之家,怪物之家官网,lilith,llith game,怪物之家下载,怪物之家官方下载,怪物之家安卓下载,怪物之家安卓官方下载,怪物之家手游,怪物之家礼包,怪物之家手游下载,怪物之家手游安卓,怪物之家手游iOS,怪物之家手游苹果,怪物之家助手,莉莉丝手游,怪物之家手游,怪物之家 ios,怪物之家手游ios,怪物之家手游礼包,怪物之家游戏预约,怪物之家手游攻略")
        meta(name="description", content="IMGA年度最具期待游戏奖,怪物之家,悬疑探索,科学实验")
        meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
        meta(name="renderer" content="webkit")
        link(rel='shortcut icon', href='/en/pc/favicon.ico')
        link(rel='stylesheet', href='/assets/cn/pc/css/index.css?v=201812131705')
        include ./tp/statistics
    body
        .loading
            .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
        .container
            .start-container
                video#start-video(autoplay='autoplay',muted="muted", webkit-playsinline="true", playsinline="true") 
                    source(src='//lilithvideo.lilithcdn.com/dmh/dmh_cn_start.mp4?v=201812131705', type='video/mp4')  
            .main-container
                .section
                    input#csrf(type='hidden', value='#{csrf}')
                    video.bg-video(autoplay='autoplay', loop='',muted="muted" preload="auto")
                        source(src='//lilithvideo.lilithcdn.com/dmh/dmh_cn_bg.mp4?v=201812131705', type='video/mp4')   
                    .jump-list
                        ul
                            li.tap
                                a(href='https://www.taptap.com/app/140647/review' alt='TapTap' title='TapTap' target="_blank")
                                    img(src='/assets/cn/pc/imgs/tap.png?v=201812131705')
                            li.facebook
                                a(href='https://www.facebook.com/dadsmonsterhouse/' alt='FaceBook' title='FaceBook' target="_blank")
                                    img(src='/assets/cn/pc/imgs/facebook.png?v=201812131705')
                            li.btn-mute
                    a.yuyue.dd(href="https://www.wjx.cn/jq/32291759.aspx" target="_blank" alt="预约游戏" title="预约游戏")
                        img(src="/assets/cn/pc/imgs/yuyue_button.png?v=201812131705", alt="预约游戏")
                    .award
                include ./tp/footer
            audio#audio(autoplay="autoplay",webkit-playsinline="true",playsinline="true", loop='loop',type="audio/mpeg")
        script(src='/js/jquery.js')
        script(src='/assets/cn/pc/js/index.js?v=201812131755')