doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title DAD'S Monster House - Official Website
        meta(name="keywords", content="《DAD'S Monster House》Official Website")
        meta(name="description", content="《DAD'S Monster House》Official Website")
        meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
        meta(name="renderer", content="webkit")
        meta(property="og:url", content="https://dmh.lilithgames.com/en")
        meta(property="og:type", content="website")
        meta(property="og:title", content="DAD'S Monster House - Official Website")
        meta(property="og:description", content="《DAD'S Monster House》Official Website")
        meta(property="og:image", content="en/pc/imgs/pc.jpg")
        link(rel='shortcut icon', href='en/pc/favicon.ico')
        link(rel='stylesheet', href='en/pc/css/reset.css')
        link(rel='stylesheet', href='en/pc/css/index_en.css')
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-125421968-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-125421968-1');
        script.
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?a8cb7eb3d54a827229c7c1a72b013fc6";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
    body
        .container
            input#csrf(type='hidden', value='#{csrf}')
            img.logo.fadein(src="en/pc/imgs/logo.png", alt="en/m/imgs/footer_logo.png")
            .main
                .slogan
                    img.bounce(src="en/pc/imgs/nick.png", alt="")
                .btn-player.illuminate(data-src="//lilithvideo.lilithcdn.com/dmh/dmh_20180906.mp4")
        .modal
            .modal-video
                .modal-close
                .mv-wrap
                    video.top_box_video(autoplay='', loop='' preload="auto",controls="controls")
                    source(src='', type='video/mp4')
        .footer
            .footer-main
                img(src="en/pc/imgs/footer_logo.png")
                p © 2016, LILITH GAMES - ALL RIGHTS RESERVED  
                    span Terms of Service and Private Policy
        script(src='js/jquery.js')
        script(src='en/pc/js/main_en.js')






     

           