doctype html
html
    head
        meta(charset='utf-8')
        title DAD'S Monster House - Official Website
        meta(name="format-detection", content="telephone=no")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
        meta(name="keywords", content="《DAD'S Monster House》Official Website")
        meta(name="description", content="《DAD'S Monster House》Official Website")
        meta(property="og:url", content="https://dmh.lilithgames.com/en")
        meta(property="og:type", content="website")
        meta(property="og:title", content="DAD'S Monster House - Official Website")
        meta(property="og:description", content="《DAD'S Monster House》Official Website")
        meta(property="og:image", content="en/m/imgs/mobile.jpg")
        link(rel='shortcut icon', href='en/pc/favicon.ico')
        script.
            var width = document.documentElement.clientWidth || window.innerWidth || window.screen.width;
            if(width<800){
                document.getElementsByTagName('html')[0].style.fontSize = width*0.833333+'%';
            }else{
                document.getElementsByTagName('html')[0].style.fontSize = 800*0.833333+'%';
            }
        link(rel='stylesheet', href='en/m/css/index_m_en.css')
    body
        .container
            input#csrf(type='hidden', value='#{csrf}')
            img.logo(src="en/m/imgs/logo_m.png", alt="en/m/imgs/footer_logo.png")
            .btn-player.illuminate(data-src="//lilithvideo.lilithcdn.com/dmh/dmh_20180906.mp4")
            img.slogan(src="en/m/imgs/slogan_m.png", alt="en/m/imgs/footer_logo.png")
        .footer
            img.footer-logo(src="en/m/imgs/footer_logo.png", alt="COMING SOON ...")
            p.p1 © 2016, LILITH GAMES - ALL RIGHTS RESERVED
            p.p2 Terms of Service and Private Policy
        script(src='js/jquery.js')
        script(src='en/m/js/m_main_en.js')