doctype html
html
    head
        meta(charset='utf-8')
        title 《怪物之家》官方网站
        meta(name="format-detection", content="telephone=no")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
        meta(name="renderer", content="webkit|ie-comp|ie-stand")
        meta(name="rederer", content="webkit")
        meta(name="keywords", content="莉莉丝,莉莉丝游戏,怪物之家,怪物之家手游,怪物之家官网,lilith,llith game,怪物之家下载,taptap怪物之家,怪物之家官方下载,怪物之家安卓下载,怪物之家安卓官方下载,怪物之家礼包,怪物之家手游下载,怪物之家手游安卓,怪物之家手游iOS,怪物之家手游苹果,怪物之家助手,莉莉丝手游,怪物之家手游ios,怪物之家攻略,怪物之家周边商城")
        meta(name='description', content='IMGA年度最具期待游戏奖,怪物之家,悬疑探索,科学实验')
        link(rel='shortcut icon', href='/en/pc/favicon.ico')
        script.
            var resizeEvt = 'oritationchange' in window ? 'oritationchange' : 'resize';
            var recalc = function(){
            var clientWidth = document.documentElement.clientWidth || window.innerWidth || window.screen.width;
            if (clientWidth < 800) {
                document.getElementsByTagName('html')[0].style.fontSize = clientWidth*0.833333+'%';
            } else {
                document.getElementsByTagName('html')[0].style.fontSize = 800*0.833333+'%';
            }
            };
            window.addEventListener(resizeEvt, recalc, false);
            recalc();
        link(rel='stylesheet', href='/assets/cn/m/css/index_m.css?v=201812131705')
        include ./tp/statistics
    body
        .container
            input#csrf(type='hidden', value='#{csrf}')
            .btn-mute
            .top-slogan.fadein
                img(src="/assets/cn/m/imgs/slogan_m.png?v=201812131705", alt="怪物之家logo")
            a.yuyue.dd(href="https://www.wjx.cn/jq/32291759.aspx" target="_blank" alt="预约游戏" title="预约游戏")
                img(src="/assets/cn/m/imgs/yuyue_button_m.png?v=201812131705", alt="预约游戏")
            .award.fadein
                img(src="/assets/cn/m/imgs/award_m.png?v=201812131705", alt="获奖信息")
        .bottom-link
            a.tap(href="https://www.taptap.com/app/140647/review" target="_blank" alt="TapTap" title="TapTap")
                img(src='/assets/cn/m/imgs/tap_button_m.png?v=201812131705')
            a.facebook(href="https://www.facebook.com/dadsmonsterhouse/" target="_blank" alt="FaceBook" title="FaceBook")
                img(src='/assets/cn/m/imgs/facebook_button_m.png?v=201812131705')
        include ./tp/footer_m
        audio#audio(autoplay='autoplay', loop='loop' type="audio/mpeg" webkit-playsinline="true", playsinline="true")
        script(src='/js/jquery.js')
        script(src='/assets/cn/m/js/index_m.js?v=201812131705')